<ion-view view-title="Home">
  <ion-content>
    <ion-list>
      <!-- <ion-item ng-repeat="playlist in playlists" href="#/app/playlists/{{playlist.id}}">
        {{playlist.title}}
      </ion-item> -->
      <!-- <img ng-src="{{ stuff.idnum }}"> -->
      <!-- <h1>{{ stuff.fname }}</h1> -->

       <div class="col s12 m8 offset-m2 l6 offset-l3">
        <div class="card-panel grey lighten-5 z-depth-1">
          <div class="row valign-wrapper">
            <div class="col-20">
              <img ng-src="{{img}}{{stuff.idnum}}.jpg" alt="" class="circle"> 
            </div>
            <div class="col-80">
              <span class="black-text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua.
              </span>
            </div>
          </div>
        </div>
      </div>

    </ion-list>
  </ion-content>
</ion-view>
