<ion-view view-title="Home">
  <ion-content>
    <ion-list>
      <!-- <ion-item ng-repeat="playlist in playlists" href="#/app/playlists/{{playlist.id}}">
        {{playlist.title}}
      </ion-item> -->
      <!-- <img ng-src="{{ stuff.idnum }}"> -->
      <!-- <h1>{{ stuff.fname }}</h1> -->

       <div class="col s12 m8 offset-m2 l6 offset-l3">
        <div class="card-panel grey lighten-5 z-depth-1">
          <div class="row valign-wrapper">
            <div class="col s2">
              <img src="img/ionic.png" alt="" class="circle responsive-img" width="50px"> <!-- notice the "circle" class -->
            </div>
            <div class="col s10">
              <span class="black-text">
                This is a square image. Add the "circle" class to it to make it appear circular.
              </span>
            </div>
          </div>
        </div>
      </div>

    </ion-list>
  </ion-content>
</ion-view>
