<ion-view view-title="Home" ng-init="loading()">
  <ion-content>
      <div ng-repeat="(key, value) in stuff" class="col s12 m8 offset-m2 l6 offset-l3">
        <div class="card post grey lighten-5 z-depth-1">
          <div class="row valign-wrapper">
          <div></div>
            <div class="col-20 center-align">
              <img style="height: 50px;" src="img/gra.png" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
            </div>
            <div class="col-80">
              <span class="black-text">
                {{value.title}}
              </span>
            </div>
          </div>
          <div class="row">
            <div  class="col-100 center-align">
              <p>{{ value.details }}</p>
            </div>
          </div>
          <div class="row" style="margin-bottom: 2px;">
          	<div class="col-25 center-align">
          		<p class="pricce">${{value.price}}</p>
          	</div>
          	<div class="col-40 left-align">
          		<p>{{ value.name }}</p>
          	</div>
          	<div class="col-35 left-align">
          		<a ng-click="runit()" class="waves-effect waves-light btn">Run Errand</a>
          	</div>
          </div>
        </div>
      </div>
<!-- </ion-item> -->

    <!-- </ion-list> -->
  </ion-content>
</ion-view>
