<ion-side-menus enable-menu-with-back-views="false">
        <ion-side-menu-content>
          <ion-nav-bar class="bar-balanced">
            <ion-nav-back-button>
            </ion-nav-back-button>

            <ion-nav-buttons side="left">
              <button class="button button-icon button-clear" 
                      menu-toggle="left"
                      ng-class="$ionicSideMenuDelegate.isOpen() ? 'ion-android-arrow-back' : 'ion-android-menu'">
              </button>
            </ion-nav-buttons>
            
            <ion-nav-buttons side="right">
              <button ng-click="goHome()" class="button button-icon button-clear ion-home"></button>
            </ion-nav-buttons>            
          </ion-nav-bar>

          <ion-nav-view name="menuContent"></ion-nav-view>
        </ion-side-menu-content> 

        <ion-side-menu side="left">
          <ion-content>
            <ul class="list">
              <span class="item item-header margin-top-15">
                <h1 class="title"><img class="company-logo"/></h1>
              </span>
              <a ui-sref="app.home"
                 ui-sref-active="active"
                 class="item item-icon-left"
                 menu-close>
                <i class="icon ion-home"></i>
                Home
              </a>   
              <a ui-sref="eventmenu.checkin"
                 ui-sref-active="active"
                 class="item item-icon-left"                
                 menu-close>
                <i class="icon ion-compose"></i>
                Jobs
              </a>
              <a ui-sref="app.signup"
                 ui-sref-active="active"
                 class="item item-icon-left"                
                 menu-close>
                <i class="icon ion-compose"></i>
                Signup
              </a>
              <a ui-sref="app.signin"
                 ui-sref-active="active"
                 class="item item-icon-left"                
                 menu-close>
                <i class="icon ion-compose"></i>
                Signin
              </a>
              <a ui-sref="eventmenu.attendees"
                 ui-sref-active="active"
                 class="item item-icon-left"                  
                 menu-close>
                <i class="icon ion-person"></i>
                Profile
              </a>
              <a class="item item-icon-left" ng-click="auth.$signOut()"                  
                 menu-close>
                <i class="icon ion-person"></i>
                Logout
              </a>
            </ul>
          </ion-content>
        </ion-side-menu>
      </ion-side-menus>