<ion-view view-title="Post Errands">
  <ion-content>
   <div class="container center-align">
  		<div class="card-panel">
  			<form class="col s12" ng-model="post">
  				<div class="input-field col s12">
		          <input type="text" ng-model="post.title">
		          <label class="active" for="first_name2">Errand Title</label>
		        </div>
		        <div class="input-field col s12">
		          <textarea id="textarea1" class="materialize-textarea" ng-model="post.details"></textarea>
		          <label for="textarea1">Errand Details</label>
		        </div>
		        <div class="input-field col s12">
		          <input type="number" ng-model="post.price">
		          <label class="active" for="first_name2">Price(JMD)</label>
		        </div>
		        <a class="waves-effect waves-teal btn" ng-click="">Post Errand</a>
  			</form>
  		</div>
  	</div>
  </ion-content>
</ion-view>